*{
    margin: 0;
}

body{

    background-color: #dddddd;
}

#interface{

    width: 400px;
    background-color: #ffffff;
    margin: 10px;

}

p{
    text-align: justify;
    text-indent: 50px;
}
.foto-legenda{

    border: 2px solid white;
}

nav{

    display: block;
}

nav  ul{

    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 600px;

}

nav li{

    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav a{
    color: black;
    text-decoration: none;
}

nav li a:hover{
    background-color: #606060;
    color: white;
    text-decoration: underline;
    
}

nav h1{

    display: none;
}